:root {
  --black: #000000;
  --white: #ffffff;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
body {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: 'Scheherazade New', serif;
}

.section-slider {
  height: 100vh;
  background: var(--black);
  padding: 50px
}
.container {
  max-width: 1440px;
  height: 100%;
  margin: 0 auto;
}
.page-title {
  margin: 0;
  font-style: normal;
  font-weight: 400;
  font-size: 80px;
  line-height: 90px;
  letter-spacing: 5px;
  text-transform: uppercase;
  color: var(--white);
  text-align: center;

}
.slider {
  margin: 0 auto;
  margin-top: 40px;
  width: 1200px;
  height: 810px;
  border-radius: 20px;
  border: 10px solid var(--white);
  padding: 20px 30px
}
.slider-wrapper {
  background-color: #fff;
  height: 100%;
}
.slider-picture-wrapper {

}
.slider-picture {
  width: 100%;
  height: 100%;
}